apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-zph5
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-mrae-tenant/status-quarkus-io/statusquarkusio-zph5@sha256:ef5d56d100cbcf356d0da586304022f46906d730aab31bf356165cb574207525
        name: my-java-quarkus
        resources: {}
status: {}
